.contact{
    width: 100%;

    .details{
        text-align: center;
        height: 200px;
    
    }

    .details p{
        padding: 10px;
        color: black;
    }

    .copyright{
        height: fit-content;
      
    }
    
} 