.app{
    height: 100vh;
    background-color:black;

    .section{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;

        > * {
            width: 100vw;
            height: calc(800px - 70px);
        }

        .footer{
            height: 230px;
        }
    }


}